---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404: Not found">
  <div class="notfound notfound--container">
    <h1>Oh no!</h1>
    <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
  </div>
</Layout>
