---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Contact | Marco Heine - Freelance Web Developer"
  description="If you're interested in working with me, feel free to reach out via mail or on twitter."
>
  <div class="contact contact--container">
    <h1>Contact</h1>
    <h2>Thanks for your interest in getting in touch!</h2>
    <p>
      If you're interested in <strong>working with me</strong>, head over to my
      work page. There you will find all the information about how I work and
      how I can help you:
      <a href="/work/"> Work</a>
    </p>
    <p>
      If you have a question about one of my blog posts or one of my
      today-I-learned posts feel free to send me an email.
    </p>
    <p>
      You can reach out to me via email at
      <a href="mailto:hello@marcoheine.com">hello@marcoheine.com</a>.
    </p>
  </div>
</Layout>
