---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Legal notice | Marco Heine">
  <div class="legal legal--container">
    <h1>Legal notice</h1>
    <p>Marco Heine</p>
    <p>Richard-Wagner-Str. 15</p>
    <p>71116 Gärtringen</p>
    <p>Deutschland</p>
    <p>
      E-Mail: <a href="mailto:marco@marcoheine.com">marco@marcoheine.com</a>
    </p>
    <p>Phone: +49 152 09904711</p>

    <p>Verantwortlich im Sinne von § 55 Abs. 2 RStV:</p>
    <p>Marco Heine</p>
    <p>Richard-Wagner-Str. 15</p>
    <p>71116 Gärtringen</p>
    <p>Umsatzsteuer-Identifikationsnummer: DE349427157</p>
  </div>
</Layout>
