---
import Layout from '../layouts/Layout.astro'
import CallToAction from '@components/CallToAction.astro'

const yearsOfExperience = new Date().getFullYear() - 2016
---

<Layout
  title="Work with me | Marco Heine - Freelance Web Developer"
  description="I work as a freelance web developer and can help you to get a fast, accessible and modern website or web application."
>
  <div class="content content--container">
    <h1>Work</h1>
    <h2>What I do</h2>
    <p>
      I’m a Front-end Developer who <strong>loves</strong> to make websites!
    </p>
    <p>
      I have more than
      <strong>
        {yearsOfExperience}years
      </strong>
      of experience and worked on numerous projects, at web agencies, in product development,
      and at software development companies.
    </p>
    <p>
      With a keen eye for <strong>UX Design</strong>, I understand user needs
      and problems and know how to solve them. Enabling clear and good
      communication is always my priority.
    </p>
    <p>
      I still love the web and its technologies, and learning something new
      every day is what makes it so much fun for me.
    </p>
    <p>
      I strive for <strong>high-quality code</strong> and lovable digital products.
      My focus is on <strong>acessibility</strong>, <strong
        >Responsiveness</strong
      >, and <strong>high-speed</strong> websites.
    </p>
    <CallToAction href="mailto:hello@marcoheine.com">
      Work with me
    </CallToAction>
  </div>
  <div class="content content--container">
    <h2 class="mb-4">Services</h2>

    <h3>🛠 Web Development</h3>
    <p>I am able to develop:</p>
    <ul class="ml-8 mb-4 flex list-disc flex-col gap-2">
      <li>Landing Pages</li>
      <li>Blogs</li>
      <li>
        Websites with multiple subpages and headless CMS integration (Prismic)
      </li>
      <li>Multilanguage Websites</li>
      <li>E-Commerce websites and online shops (with Shopify)</li>
      <li>
        More complex full-stack web applications with database integration
      </li>
    </ul>
    <p>
      I can help you with your existing website by implementing changes and
      improvements to get a better User Experience, more Speed, Responsiveness
      and improved Accessibility.
    </p>
  </div>
  <div class="content content--container">
    <h3>Tech Stack</h3>
    <p>
      Currently I’m the most comfortable when working with the so called
      <a href="https://jamstack.org/"> Jamstack </a>. I’m an expert in the
      following technologies, frameworks and platforms:
    </p>
    <ul class="flex list-none flex-wrap gap-x-4 gap-y-2 text-xl">
      <li class="mb-0">HTML & CSS</li>
      <li>JavaScript</li>
      <li class="mb-0">TypeScript</li>
      <li class="mb-0">
        <a href="https://reactjs.org/">React</a>
      </li>
      <li>
        <a href="https://vuejs.org/">Vue</a>
      </li>
      <li class="mb-0">
        <a href="https://nextjs.org/">NextJS</a>
      </li>
      <li class="mb-0">
        <a href="https://www.gatsbyjs.com/"> Gatsby </a>
      </li>
      <li class="mb-0">
        <a href="https://tailwindcss.com/"> TailwindCSS </a>
      </li>
      <li class="mb-0">
        <a href="https://prismic.io/">Prismic</a>
      </li>
      <li class="mb-0">
        <a href="https://sanity.io/">Sanity</a>
      </li>
      <li class="mb-0">
        <a href="https://www.netlify.com/"> Netlify </a>
      </li>
      <li class="mb-0">
        <a href="https://vercel.com/">Vercel</a>
      </li>
    </ul>
  </div>
</Layout>
