---
interface Props {
  href: string
  isCodePen?: boolean
  customClass?: string
}

const { isCodePen, href, customClass } = Astro.props
const isInternalLink = href && (href.startsWith('/') || href.startsWith('#'))
---

{
  isInternalLink ? (
    <a
      href={href}
      class={`border-b-2 border-dotted border-b-primaryColorTwo hover:border-solid ${customClass}`}
    >
      <slot />
    </a>
  ) : (
    <a
      rel={'noopener noreferrer'}
      class={`outgoing-link-trigger border-b-2 border-dotted border-b-primaryColorTwo hover:border-solid ${
        isCodePen ? 'mb-4 inline-block' : ''
      }`}
    >
      <slot />
    </a>
  )
}
