@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato-Regular';
  font-display: swap;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  font-display: swap;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  src: url('../fonts/Merriweather-Regular.ttf');
}

/* New overrides 2022 */
@layer base {
  body {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    @apply mb-4;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p,
  span {
    @apply text-xl mb-4;
  }
  svg {
    @apply inline-block;
  }
  a {
    @apply text-primaryColorTwo hover:text-linkHover;
  }

  ul {
    @apply ml-6 mb-4 list-disc;
  }

  ul li {
    @apply mb-4 last:mb-0;
  }

  hr {
    @apply mb-4;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Merriweather', serif;
  }
  .hover-target {
    @apply transition-all;
  }

  .hover-trigger:hover > div {
    @apply shadow-customDark scale-95;
  }

  .hover-trigger:hover .hover-target {
    @apply right-4 top-24;
  }

  .lang-link a {
    @apply text-primaryColorOne hover:text-linkHover;
  }
}
