@tailwind base;
@tailwind components;
@tailwind utilities;

/* New overrides 2022 */
@layer base {
  body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    @apply mb-4;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p,
  span {
    @apply text-xl mb-4;
  }
  svg {
    @apply inline-block;
  }
  a {
    @apply text-primaryColorTwo hover:text-linkHover;
  }
}
