---
import '../styles/global.css'
---

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-item">
      <a
        class="nav__link"
        href="/"
      >
        Home
      </a>
    </li>
    <li>
      <a
        class="nav__link"
        href="/blog"
        >Blog</a
      >
    </li>
    <li class="nav__list-item">
      <a
        class="nav__link"
        href="/about"
        >About</a
      >
    </li>
  </ul>
</nav>

<style>
  .nav {
    font-size: 20px;
    @media (min-width: 640px) {
      justify-self: end;
    }
  }
  .nav__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 8px;

    &:first-of-type {
      padding-left: 0;
    }
  }
</style>
