@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lato-Regular;
  font-display: swap;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  font-display: swap;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Merriweather;
  font-display: swap;
  src: url('../fonts/Merriweather-Regular.ttf');
}

/* New overrides 2022 */
@layer base {
  body {
    color: rgb(36 34 34);
    font-family: Lato-Regular, sans-serif;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Merriweather, serif;

    @apply mb-4 text-black;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p,
  span {
    @apply mb-4 text-xl;
  }

  svg {
    @apply inline-block;
  }

  a {
    @apply text-primaryColorTwo hover:text-linkHover focus-visible:border-none focus-visible:outline-dashed focus-visible:outline-offset-1 focus-visible:outline-primaryColorTwo;
  }

  ul {
    @apply ml-6 mb-4 list-disc;
  }

  ol {
    @apply ml-6 mb-4 list-decimal;
  }

  ol li {
    @apply mb-2 last:mb-0;
  }

  ul li {
    @apply mb-2 last:mb-0;
  }

  li > ul {
    @apply mt-2;
  }

  li > a {
    @apply overflow-hidden text-clip;
  }

  hr {
    @apply mb-4;
  }

  blockquote > p {
    @apply mb-0;
  }

  p + h2:not(:first-of-type) {
    @apply mt-16;
  }

  ul + h2:not(:first-of-type) {
    @apply mt-16;
  }

  pre + h3,
  p + h3,
  ul + h3 {
    @apply mt-12;
  }

  b,
  strong {
    @apply font-[Lato-Bold];
  }
}

@layer utilities {
  .font-serif {
    font-family: Merriweather, serif;
  }

  .hover-target {
    @apply transition-all duration-300;
  }

  .hover-trigger:hover > img {
    @apply lg:-rotate-2 lg:scale-95 lg:shadow-customDark;
  }

  .hover-trigger:hover .hover-target {
    @apply right-4 top-40;
  }

  .lang-link a {
    @apply text-primaryColorOne hover:text-linkHover;
  }

  .font-merriweather {
    font-family: Merriweather, serif;
  }

  .outgoing-link-trigger > span {
    @apply mb-0 inline-block transition-all duration-300;
  }

  .outgoing-link-trigger:hover > span {
    @apply -translate-y-1 translate-x-1 transform;
  }
}
